/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 100% "Montserrat", sans-serif; }

h1 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #6c7289; }

h2 {
  font: 100% "Fraunces", serif;
  font-size: 35px;
  color: #1c232b; }

p {
  font: 100% "Montserrat", sans-serif;
  font-size: 14px;
  color: #6c7289;
  line-height: 1.25rem; }

h3 {
  font: 100% "Fraunces", serif;
  font-size: 28px;
  color: #3c8067; }

h4 {
  font-size: 14px;
  color: white; }

body {
  background-color: #f2ebe3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  width: 45%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white; }

.hero-image {
  width: 50%; }
  .hero-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }

.info-section {
  width: 38%;
  margin-right: 5%; }
  .info-section h1 {
    margin: 24px 0px 16px 0px; }
  .info-section h2,
  .info-section p {
    margin-bottom: 24px; }

.price {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: first baseline; }

.btn {
  width: 100%;
  height: 40px;
  background-color: #3c8067;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px; }
  .btn img {
    margin-right: 8px; }

.btn:hover {
  cursor: pointer;
  background-color: #1c232b; }

/* MEDIA QUERIES */
@media screen and (min-width: 376px) {
  .image2 {
    display: none; } }
@media screen and (max-width: 375px) {
  main {
    width: 95%;
    height: 105%;
    padding-bottom: 16px;
    margin-top: 64px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

  .hero-image {
    width: 100%;
    height: 40%; }
    .hero-image .image1 {
      display: none; }
    .hero-image .image2 {
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px; }

  .info-section {
    width: 80%; }

  h1 {
    margin: 16px 0 8px 0; }

  h2 {
    font-size: 28px;
    margin-bottom: 8px; }

  p {
    margin-bottom: 4px; }

  .btn {
    height: 24px; } }

/*# sourceMappingURL=main.css.map */
